<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/madetech-frontend.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Deliveries - Made Tech</title>
  </head>

  <body>
    <div class="top_bar">
      <div class="top_bar__inner">
        <div class="container">
          <div class="row d-md-flex justify-content-center justify-content-md-between">
            <div class="d-none d-md-block">Improving software delivery in every organisation</div>
          </div>
        </div>
      </div>
    </div>

    <header class="header">
      <div class="header__inner">
        <nav class="p-0 flex-column flex-lg-row navbar navbar-expand">
          <div class="mr-lg-auto">
            <div class="header__logo">
              <a href="#" class="header__logo_link">
                <div class="header_logo_type--by">
                  <span class="header_logo_type__text">Deliveries</span>
                  <span class="px-3">by</span>
                  <span class="position-relative" style="top: -2px;">
                  <img alt="Made Tech" itemprop="logo" src="/assets/images/made-tech-logo-colour.png" width="120px">
                </span>
                </div>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="jumbotron jumbotron-skinny">
      <div></div>
    </div>

    <main class="container mb-5 mt-5">
      <% data.each do |clients, values| %>
        <% unless clients[:client].nil? || clients[:client] == '' %>
          <div class="target">
            <div class="list-group">
              <a class="list-group-item list-group-item-action bg-success">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 mt-1 text-white">
                    <%= clients[:client] %>
                  </h5>
                </div>
              </a>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <a class="list-group-item list-group-item-action mb-3">
                <h5 class="mb-1 mt-0">
                  Account Structure
                  <br />
                </h5>
                <% clients[:project].each do |x| %>
                  <% unless x[:exec_sponsor].nil? || x[:exec_sponsor].empty? %>
                    <%= x[:exec_sponsor] %> <span class="badge badge-dark">Executive Sponsor</span>
                    <br />
                  <% end %>
                  <% unless x[:client_partner].nil? || x[:client_partner].empty? %>
                  <%= x[:client_partner] %> <span class="badge badge-info">Client Lead</span>
                  <br />
                  <% end %>
                  <% if x[:delivery_lead] == 'TRUE' && x[:tech_lead] == 'TRUE' %>
                    <%= x[:person][0] %> <span class="badge badge-success">Delivery Lead</span> <span class="badge badge-secondary">Technical Lead</span>
                    <br />
                  <% elsif x[:delivery_lead] == 'TRUE' %>
                    <%= x[:person][0] %> <span class="badge badge-success">Delivery Lead</span>
                    <br />
                  <% elsif x[:tech_lead] == 'TRUE' %>
                    <%= x[:person][0] %> <span class="badge badge-secondary">Technical Lead</span>
                    <br />
                  <% end %>
                <% end %>
                <br />
                <% clients[:project].group_by { |d| d[:project_name] }.each do |projects, people| %>
                  <h5 class="mb-1 mt-0">
                    <%= projects %>
                    <% people.each do |dates| %>
                      <div class="float-right">
                        <% unless dates[:start_date].empty? && dates[:end_date].empty? %>
                          <% start_on, end_on = Date.strptime(dates[:start_date], '%Y-%m-%d'), Date.strptime(dates[:end_date], '%Y-%m-%d') %>
                          <%= start_on.day %> <%= Date::MONTHNAMES[start_on.month] %> <%= start_on.year %> to
                          <%= end_on.day %> <%= Date::MONTHNAMES[end_on.month] %> <%= end_on.year %>
                          <% length = (end_on - start_on).to_f %>
                          <% days_left = (end_on - Date.today).to_f %>
                          <% difference = ((length - days_left) / length * 100).to_i %>
                          <% if difference < 0 %>
                            <div class="progress">
                              <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          <% elsif difference > 100 %>
                            <div class="progress">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          <% else %>
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" style="width: <%= difference %>%" aria-valuenow="<%= difference %>" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                      <% break %>
                    <% end %>
                  </h5>
                  <% people.each do |person| %>
                    <% person[:person].each do |name| %>
                      <%= name %>
                    <% end %>
                    <% if person[:delivery_lead] == 'TRUE'%>
                      <span class="badge badge-success">Delivery Lead</span>
                    <% end %>
                    <% if person[:tech_lead] == 'TRUE' %>
                      <span class="badge badge-secondary">Technical Lead</span>
                    <% end %>
                    <br />
                  <% end %>
                  <br />
                <% end %>
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 d-none d-lg-block">
            © <span itemprop="copyrightYear">2019</span>
            <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/Organization">
            <span itemprop="name">Made Tech Limited.</span>
          </span>
          </div>
          <div class="col-7 col-lg-4 text-left text-lg-center">
            <a class="footer__logo" href="https://www.madetech.com" rel="home">
              <img src="/assets/images/made-tech-logo-wht.png" height="25" alt="Made Tech">
            </a>
          </div>
          <nav class="col-5 col-lg-4 text-right">
            <a class="footer__social_link" href="https://www.madetech.com/ext/linkedin">
              <img src="/assets/images/icons/linkedin.svg" alt="LinkedIn" height="25"/>
            </a>

            <a class="footer__social_link" href="https://www.madetech.com/ext/twitter">
              <img src="/assets/images/icons/twitter.svg" alt="Twitter" height="25"/>
            </a>

            <a class="footer__social_link" href="https://www.madetech.com/ext/github">
              <img src="/assets/images/icons/github.svg" alt="GitHub" height="25"/>
            </a>
          </nav>
        </div>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"></script>
    <script src="/assets/js/madetech-frontend.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
